

.navbar {
  background-color: #290a0a;
  
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}
.Create-Button{
  display: inline-block;        
  margin-top: 1rem;             
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); 
  background-color: #2b6cb0;  
  color: white;                 
  border-radius: 0.375rem;      
  padding: 0.5rem 1rem;         
  font-weight: bold;            
  cursor: pointer;              
  transition: background-color 0.3s; 
}

.create-page-button:hover {
  background-color: #2c5282;   
}

.CarList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Car {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
}

.product-image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.product-details {
  padding: 10px;
  
}

.edit-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none; 
  
}

.Button:hover {
  background-color: #0056b3;
}
